* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  background-color: #CACACA;
  padding: 1rem;
  font-size: small;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.container.columns {
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  background-size: cover;
  object-position: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.description {
  display: flex;
  flex-direction: column;
  opacity: 0;
  height: 80px;
  width: 400px;
  overflow: hidden;
  transform: translateY(100px);
  transition: all .3s ease;
  justify-content: center;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.description > h4, p {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.description > p {
  -webkit-line-clamp: 2;
  font-size: small;
}

input {
  display: none;
}

input:checked + label {
  width: 500px;
}

input:checked + label .description {
 opacity: 1 !important;
  transform: translateY(0px) !important;
}

.external_link {
  margin-left: 2px;
}

.footer_row:first-child {
  margin-bottom: 4px;
}

.footer_row > span {
  position: relative;
}
.footer_row > span::after {
  content: ':';
  margin-left: 1px;
  margin-right: 2px;
}
